@font-face {
  font-family: "ChurchwardNewstypeLight-Regular";
  src: url('assets/font/ChurchwardNewstypeLightRegular/font.woff2') format('woff2'), url('assets/webFonts/ChurchwardNewstypeLightRegular/font.woff') format('woff');
}

/* font-family: "Source Sans Pro","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; */

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  overflow-x: hidden;
  font-family: "Source Sans Pro","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
  font-size: 2.5vh;
  line-height: 4vh;
  hyphens: auto;
  word-break: keep-all;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a:link {
  display: inline;
  z-index: 100000;
  color: #2151ff;
  text-decoration: none;
  z-index: 100000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

a:active {
  color: #2151ff;
}

a:visited {
  color: #2151ff;
}

svg {
  overflow: hidden;
  vertical-align: middle
}

.primary-header {
  padding: 0px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: padding 0.3s, margin 0.3s, box-shadow 0.8s;
  background-color: transparent;  
}

.primary-header--absolute-positioning {
  position: absolute
}

.fixed {
  position: fixed;
}

.content {
  width: 100%;
  display: inline-block;
  height: 100vh;
  margin: 0vw;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 4fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0px 20px 0px;
  color: #000000;
  background-color: transparent;
  letter-spacing: 0vh;
  text-align: left;
  border-bottom: 0px solid #CCCCCC;
}

.container > div {
  text-align: left;
}

.container:hover {
  color: #2151ff;
  background-color: transparent;
}

#index {
  margin-top: 5vh;
  margin-bottom: 0vh;
}

.main .index_entry:hover {
  cursor: pointer;
}

.index_drawer {
overflow-y: hidden;
transition-property: all;
transition-duration: .3s;
height: 100%;
}

.index_drawer a {
color: #2151ff;
text-decoration: underline;
}

.index_drawer a:hover {
color: #000000;
}

.index_drawer .index_content {
  display: grid;
  grid-template-columns: 1fr 0fr 4fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0px 20px 0px;
  color: #000000;
  background-color: #f5f5f5;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.index_drawer.closed {
  max-height: 0;
}

/* scrollbar */
/* 
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} */

/* additional */
#container img.zoomed {
  transform: scale(5);
  cursor: pointer;
  position: absolute;
}

img {
  display: inline-block;
  height: 14vh;
  width: auto;
  margin: 0px;
  padding: auto;
  transition: all 500ms ease;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 0 15px rgba(125,125,125,0.18);
  /* border-radius: 20px; */
}

/* button */
button {
  padding: 20px;
  border: 0px solid #2151ff;
  color: #2151ff!important;
  background-color: transparent;
  border-radius: 0px;
  font-size: 6vh;
  cursor:pointer;
  text-align:center;
  }

.button:hover {
  text-decoration: none;
  color: #000000;
}

.button:active {
  color: #FFFFFF;
}

.button:visited {
  color: #FFFFFF;
}


@media (min-width: 300px) and (max-width: 769px) {
  * {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
  }

  body, html {
    width: 100% !important;
    height: 100%;
    overflow-y: auto;
  }

  body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  overflow-x: hidden;
  font-family: "Source Sans Pro","HelveticaNeue-Regular","Helvetica Neue Regular","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 400;
  font-size: 2vh;
  line-height: 3vh;
  word-wrap: break-word;
  word-break: break-all;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: grid;
  grid-template-columns: 7fr;
  grid-gap: 0px;
  padding: 20px;
}

.index_drawer .index_content {
  display: grid;
  grid-template-columns: 7fr;
  grid-gap: 10px;
  padding: 20px;
  color: #000000;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.primary-header {
  padding:2px
}
}
